<div class="chat-header"> 
  <div class="left-header">
    <div class="header-title">
      <%= @room.name %>
    </div>
  </div>

  <div class="right-header">
    <div class="header-button">
      <%# 削除するチャットルームを区別するために、定義している@roomを引数にして記述 %>
      <%= link_to "チャット終了する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>

<div class="messages">
  <%# collectionオプション。指定したインスタンス変数の中にある要素の数だけ、部分テンプレートが繰り返し表示されるrenderメソッドのオプション。
  collection: 繰り返し表示する要素が入っているインスタンス。インスタンスに入っている要素が複数あったときでも、eachメソッドを使用せずにrenderで繰り返し表示できます。
  @messegesを繰り返しの対象として指定することによって、@messegesの中にある複数の要素を繰り返し表示します。 %>
  <%= render partial: 'message', collection: @messages %> <%# locals {message: @messages}もやってくれる %>
</div>
<%# @room,@messageを２つ渡しているのは、messagesのルーティングがroomsにネストされているため。
あるチャットルームに属しているメッセージ、という親子関係がある。 %>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %> <%# image画像を選択できるように %>
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
<% end %>

<%# label要素
label要素とは、フォームの中でフォームの項目名とフォームの
入力要素（画像選択フォーム、プルダウン、チェックボックスなど）を
関連付けるための要素です。
label要素の役割の1つは、label要素がクリックされたときに、
子要素もクリックされたことにしてくれることです。この仕組みを使うと、
見えないはずのファイル選択ボタンをクリックしたかのように動作させることができます。 %>

<%# spanタグはインライン要素 %>